body {
    font-family: "Arimo", serif;
}

md-progress-circular {
    height: 64px;
    width: 64px;
}

.logo {
    height: 64px;
}

.tabpanel-container {
    display: block;
    margin-top: 20px;
}

.tabpanel-container md-content {
    height: 135px;
}

div[ui-view="quotes"] md-content {
    height: 250px;
}

span[flex], b[flex], a[flex] {
    text-align: right;
}

.highlight-red {
    color: red;
}

.highlight-green {
    color: green;
}

span {
    -webkit-animation: 0.5s linear all;
       -moz-animation: 0.5s linear all;
         -o-animation: 0.5s linear all;
            animation: 0.5s linear all;
}

.md-whiteframe-glow-z2 {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 4px 3px rgba(0, 0, 0, 0.14), 0 0 8px 1px rgba(0, 0, 0, 0.12);
}
