body {
    font-family: "Arimo", serif;
    overflow-y: hidden;
}

.tabpanel-container {
    display: block;
    margin-top: 20px;
}

.tabpanel-container md-content {
    height: 135px;
}

[flex] {
    text-align: right;
}
