<div ui-view="header"></div>

<md-tabs md-selected="default.tabSelectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">Trades</md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">Orders</md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">Positions</md-tab>
    <md-tab id="tab4" aria-controls="tab4-content">Exposure</md-tab>
    <md-tab id="tab5" aria-controls="tab5-content">Activity</md-tab>
    <md-tab id="tab6" aria-controls="tab6-content">News</md-tab>
    <md-progress-circular ng-if="isLoadingView" md-diameter="24" md-mode="indeterminate"></md-progress-circular>
</md-tabs>
<ng-switch on="default.tabSelectedIndex" class="tabpanel-container" layout-margin>
    <div role="tabpanel"
         id="tab1-content"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <div ui-view="trades"></div>
    </div>

    <div role="tabpanel"
         id="tab2-content"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <div ui-view="orders"></div>
    </div>

    <div role="tabpanel"
         id="tab3-content"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <div ui-view="positions"></div>
    </div>

    <div role="tabpanel"
         id="tab4-content"
         aria-labelledby="tab4"
         ng-switch-when="3"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <div ui-view="exposure"></div>
    </div>

    <div role="tabpanel"
         id="tab5-content"
         aria-labelledby="tab5"
         ng-switch-when="4"
         md-swipe-left="next()"
         md-swipe-right="previous()">

         <div ui-view="activity"></div>
    </div>

    <div role="tabpanel"
         id="tab6-content"
         aria-labelledby="tab6"
         ng-switch-when="5"
         md-swipe-left="next()"
         md-swipe-right="previous()">

        <div ui-view="news"></div>
    </div>

</ng-switch>

<div layout="row" layout-padding>
    <div layout="column" flex="25">
        <div ui-view="account"></div>
        <div ui-view="quotes"></div>
    </div>
    <div layout="column" flex="75">
        <div ui-view="charts"></div>
    </div>
</div>
