md-select {
    margin-top: 0px;
}

path {
    fill: none;
    stroke-width: 1;
}

.bar.red path {
    stroke: #b40000;
}

.bar.green path {
    stroke: #00b400;
}

.grid line, .grid path {
    stroke: #eeeeee;
}
