<md-dialog aria-label="Order Dialog">

    <md-dialog-content layout-padding>
        <md-subheader class="md-sticky-no-effect">Order Dialog</md-subheader>

        <div layout="row">
            <div flex="45" layout="column" layout-margin>

                <md-radio-group ng-model="vm.type" layout layout-align="space-between center">
                      <md-radio-button value="market">Market Order</md-radio-button>
                      <md-radio-button value="limit">Limit Order</md-radio-button>
                </md-radio-group>

                <md-radio-group ng-model="vm.side" layout layout-align="space-between center">
                      <md-radio-button value="buy">Buy</md-radio-button>
                      <md-radio-button value="sell">Sell</md-radio-button>
                </md-radio-group>

                <md-input-container layout layout-align="center center">
                    <md-select ng-model="vm.selectedInstrument" placeholder="Market"
                        ng-change="vm.changeMarket(vm.selectedInstrument)">
                        <md-option ng-value="instrument" ng-repeat="instrument in vm.instruments">
                            {{ instrument }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container layout layout-align="center center">
                    <label flex="10">Units</label>
                    <input ng-model="vm.units" flex="30">
                </md-input-container>

                <div layout layout-align="space-between center">
                    <span>Quote</span>
                    <input type="number" ng-model="vm.quote" ng-disabled="vm.type == 'market'" flex="30"
                        step="{{ vm.step }}" aria-label="lower" aria-controls="quote-slider">
                </div>

                <md-input-container layout layout-align="center center">
                    <md-select ng-show="vm.type == 'limit'"
                        ng-model="vm.selectedExpire" placeholder="Expires">
                        <md-option ng-value="expire.value" ng-repeat="expire in vm.expires">
                            {{ expire.label }}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>
            <div flex="45" layout="column" layout-margin>

                <md-radio-group ng-model="vm.measure"
                    ng-change="vm.changeMeasure(vm.measure)"
                    layout layout-align="space-between center">
                      <md-radio-button value="price">Price</md-radio-button>
                      <md-radio-button value="pips">PIPS</md-radio-button>
                </md-radio-group>

                <div layout layout-align="space-between center">
                    <md-checkbox md-no-ink aria-label="Lower Bound" ng-model="vm.isLowerBound" class="md-primary">
                        Lower Bound
                    </md-checkbox>
                    <input type="number" ng-model="vm.lowerBound" min="0" ng-disabled="!vm.isLowerBound"
                        step="{{ vm.step }}" aria-label="lower" aria-controls="lower-slider" flex="30">
                </div>
                <div layout layout-align="space-between center">
                    <md-checkbox md-no-ink aria-label="Upper Bound" ng-model="vm.isUpperBound" class="md-primary">
                        Upper Bound
                    </md-checkbox>
                    <input type="number" ng-model="vm.upperBound" min="0" ng-disabled="!vm.isUpperBound"
                        step="{{ vm.step }}" aria-label="upper" aria-controls="upper-slider"flex="30">
                </div>
                <div layout layout-align="space-between center">
                    <md-checkbox md-no-ink aria-label="Take Profit" ng-model="vm.isTakeProfit" class="md-primary">
                        Take Profit
                    </md-checkbox>
                    <input type="number" ng-model="vm.takeProfit" min="0" ng-disabled="!vm.isTakeProfit"
                        step="{{ vm.step }}" aria-label="take" aria-controls="take-slider" flex="30">
                </div>
                <div layout layout-align="space-between center">
                    <md-checkbox md-no-ink aria-label="Stop Loss" ng-model="vm.isStopLoss" class="md-primary">
                        Stop Loss
                    </md-checkbox>
                    <input type="number" ng-model="vm.stopLoss" min="0" ng-disabled="!vm.isStopLoss"
                        step="{{ vm.step }}" aria-label="stop" aria-controls="stop-slider" flex="30">
                </div>
                <div layout layout-align="space-between center">
                    <md-checkbox md-no-ink aria-label="Trailing Stop" ng-model="vm.isTrailingStop" class="md-primary">
                        Trailing Stop
                    </md-checkbox>
                    <input type="number" ng-model="vm.trailingStop" min="0" ng-disabled="!vm.isTrailingStop"
                        step="1" aria-label="trailing" aria-controls="trailing-slider" flex="30">
                </div>

            </div>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.answer('submit')" class="md-primary">
            Submit
        </md-button>
        <md-button ng-click="vm.answer('close')">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
