<div class="h6 overflow-auto">
    <p ng-hide="$ctrl.account.id" class="f6 w-100 mw8 center b">No account.</p>

    <table ng-show="$ctrl.account.id" class="collapse f6 w-100 mw8 center">
        <thead>
            <th class="fw6 bb b--black-20 tl pb1 pr1">Account Summary</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1">
                ({{ $ctrl.account.currency }}) {{ $ctrl.account.timestamp | date:"MMM d, HH:mm:ss" }}
            </th>
        </thead>

        <tbody>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Balance</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.balance | number: 2}}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Unrealized P&amp;L</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.unrealizedPL | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Unrealized P&amp;L (%)</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.unrealizedPLPercent | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Net Asset Value</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.NAV | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Realized P&amp;L</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.pl | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Margin Used</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.marginCallMarginUsed | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Margin Available</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.marginAvailable | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Margin Closeout Value</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.marginCloseoutPositionValue | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Margin Closeout Value (%)</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.marginCloseoutPercent | number: 2 }}</td>
            </tr>
            <tr>
                <td class="fw6 bb b--black-20 tl pb1 pr1">Position Value</td>
                <td class="pv1 pr1 bb b--black-20 tr">{{ $ctrl.account.positionValue | number: 2 }}</td>
            </tr>
        </tbody>
    </table>
</div>
