<div ng-show="$ctrl.account.streamingInstruments">

    <div class="flex flex-wrap flex-row justify-center justify-around">
        <select ng-model="$ctrl.selectedInstrument"
            ng-change="$ctrl.changeChart($ctrl.selectedInstrument, $ctrl.selectedGranularity)"
            ng-options="instrument for instrument in $ctrl.account.streamingInstruments">
        </select>

        <select ng-model="$ctrl.selectedGranularity"
            ng-change="$ctrl.changeChart($ctrl.selectedInstrument, $ctrl.selectedGranularity)"
            ng-options="granularity for granularity in $ctrl.granularities">
        </select>

        <a class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4"
            href ng-click="$ctrl.openOrderDialog('buy')">
          <span class="pl1">Buy</span>
        </a>
        <a class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4"
            href ng-click="$ctrl.openOrderDialog('sell')">
          <span class="pl1">Sell</span>
        </a>
    </div>

    <ohlc-chart
        instrument="$ctrl.selectedInstrument"
        granularity="$ctrl.selectedGranularity"
        data="$ctrl.data"
        feed="$ctrl.feed",
        trades="$ctrl.trades">
    </ohlc-chart>
</div>
