md-select {
    margin-top: 0px;
}

path {
    fill: none;
    stroke-width: 1;
}

svg {
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text {
    fill: #000;
}

path {
    fill: none;
    stroke-width: 1;
}

path.ohlc {
    stroke: #000000;
    stroke-width: 1;
}

path.ohlc.up {
    stroke: #00AA00;
}

path.ohlc.down {
    stroke: #FF0000;
}

.ma-0 path.line {
    stroke: #1f77b4;
}

.ma-1 path.line {
    stroke: #aec7e8;
}

path.volume {
    fill: #EEEEEE;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #DDDDDD;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}

path.tradearrow {
        stroke: none;
    }

path.tradearrow.buy {
    fill: rgb(114, 213, 255);
}

path.tradearrow.buy-pending {
    fill-opacity: 0.2;
    stroke: #0000FF;
    stroke-width: 1.5;
}

path.tradearrow.sell {
    fill: rgb(243, 198, 113);
}

.tradearrow path.highlight {
    fill: none;
    stroke-width: 2;
}

.tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
    stroke: #0000FF;
}

.tradearrow path.highlight.buy-pending {
    fill: #0000FF;
    fill-opacity: 0.3;
}

.tradearrow path.highlight.sell {
    stroke: #9900FF;
}
