<md-toolbar layout="row" class="md-whiteframe-glow-z2">

    <div layout="row" layout-sm="column" layout-align="space-around center" flex="95">
        <a class="logo" href="http://argo.js.org/">
            <img alt="Argo" src="content/images/argo.png">
        </a>

        <span hide-sm>Argo Interface for OANDA Trading Platform</span>

        <div ng-show="vm.token || vm.environment">
            Active environment: {{ vm.environment }}
        </div>

        <div ng-show="vm.accountId">
            Account Id: {{ vm.accountId }}
        </div>

        <div ng-hide="vm.token || vm.environment === 'sandbox'">
            Please, insert the access token.
        </div>

        <div layout-sm="row">
            <md-button ng-show="vm.accountId" class="md-raised md-accent"
                ng-click="vm.openSettingsDialog($event)">
                Settings
            </md-button>

            <md-button class="md-raised md-accent" ng-click="vm.openTokenDialog($event)">
                Token
            </md-button>
        </div>
    </div>


    <div layout="row" layout-align="space-around center" flex="5">
        <md-progress-circular class="md-accent" ng-if="isLoadingView"
            md-diameter="64" md-mode="indeterminate"></md-progress-circular>
    </div>

</md-toolbar>
