<md-toolbar layout="row" layout-align="space-between center" layout-padding>
    Argo Interface for OANDA Trading Platform
    <div ng-show="vm.token">
        Active environment: {{ vm.environment }}
    </div>
    <div ng-show="vm.accountId">
        Account Id: {{ vm.accountId }}
    </div>
    <div ng-hide="vm.token">
        Please, insert the access token.
    </div>
    <md-button ng-show="vm.accountId" class="md-raised" ng-click="vm.openSettingsDialog($event)">
        <md-tooltip>
            To be implemented
        </md-tooltip>
        Settings
    </md-button>
    <md-button class="md-raised" ng-click="vm.openTokenDialog($event)">
        Token
    </md-button>
</md-toolbar>
