<md-dialog aria-label="Settings Dialog">
    <md-dialog-content>
        <md-subheader class="md-sticky-no-effect">Settings Dialog</md-subheader>

        <span ng-repeat="(instrument, value) in vm.instruments">
            <md-switch ng-model="vm.instruments[instrument]" aria-label="instrument">{{ instrument }}</md-switch>
        </span>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="vm.answer(vm.instruments)" class="md-primary">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>
