<div ng-show="$ctrl.trades.length" layout="row">
    <b flex="5" flex-sm="5">Type</b>
    <b flex="10" flex-sm="30">Ticket</b>
    <b flex="10" flex-sm="20">Market</b>
    <b flex="10" flex-sm="10">Units</b>
    <b flex="10" hide-sm>S/L</b>
    <b flex="10" hide-sm>T/P</b>
    <b flex="10" hide-sm>T/S</b>
    <b flex="10" hide-sm>Price</b>
    <b flex="10" flex-sm="20">Current</b>
    <b flex="5" flex-sm="15">Profit (PIPS)</b>
</div>

<md-content>

    <md-card ng-repeat="trade in $ctrl.trades">

        <div layout="row">
            <span flex="5" flex-sm="5">{{ trade.side }}</span>
            <a flex="10" flex-sm="30" href="" ng-click="$ctrl.closeTrade($event, trade.id)">{{ trade.id }}</a>
            <span flex="10" flex-sm="20">{{ trade.instrument }}</span>
            <span flex="10" flex-sm="10">{{ trade.currentUnits | number }}</span>
            <span flex="10" hide-sm>{{ trade.stopLossOrder.price }}</span>
            <span flex="10" hide-sm>{{ trade.takeProfitOrder.price }}</span>
            <span flex="10" hide-sm>{{ trade.trailingStopLossOrder.distance }}</span>
            <span flex="10" hide-sm>{{ trade.price }}</span>
            <span flex="10" flex-sm="20">{{ trade.current }}</span>
            <span flex="5" flex-sm="15" dual-color="trade.profitPips">{{ trade.profitPips | number:1}}</span>
        </div>

    </md-card>

    <md-card ng-show="!$ctrl.trades.length">
        No trades.
    </md-card>

</md-content>
