<div class="h5 overflow-auto">

    <table class="collapse f6 w-100 mw8 center">
        <tbody>
            <tr ng-repeat="(instrument, quote) in $ctrl.quotes">
                <td class="pv1 pr1 bb b--black-20">{{ instrument }}</td>
                <td class="pv1 pr1 bb b--black-20">
                    <sl-chart class="mw3" instrument="instrument" data="quote" length="100"></sl-chart>
                </td>
                <td class="pv1 pr1 bb b--black-20 tr" highlighter="quote.bid">{{ quote.bid }}</td>
                <td class="pv1 pr1 bb b--black-20 tr" highlighter="quote.ask">{{ quote.ask }}</td>
                <td class="pv1 pr1 bb b--black-20 tr" highlighter="quote.spread">{{ quote.spread }}</td>
            </tr>
        </tbody>
    </table>
</div>
