<main class="pa4 black-80">
    <form class="measure center">
        <fieldset id="login" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 center">Token Dialog</legend>

            <div class="flex flex-row items-center mb2 justify-between">
                <label for="practice" class="lh-copy">Practice</label>
                <input class="mr2" type="radio" name="environment" ng-model="$ctrl.environment" value="practice">
            </div>
            <div class="flex flex-row items-center justify-between mb2">
                <label for="live" class="lh-copy">Live</label>
                <input class="mr2" type="radio" name="environment" ng-model="$ctrl.environment" value="live">
            </div>

            <div class="mv3">
                <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"
                    placeholder="Token" name="token" id="token" ng-model="$ctrl.token">
            </div>
        </fieldset>

        <div class="flex flex-row items-center justify-around">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Reset"
                ng-click="$ctrl.answer()">

            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Ok"
                ng-click="$ctrl.answer({'environment': $ctrl.environment, 'token': $ctrl.token})">
        </div>
    </form>
</main>
