<div ng-show="$ctrl.news.length" layout="row">
    <b flex="10">Date/Time</b>
    <b flex="10">Market</b>
    <b flex="30">Event</b>
    <b flex="10">Previous</b>
    <b flex="10">Forecast</b>
    <b flex="10">Actual</b>
    <b flex="10">Unit</b>
</div>

<md-content>

    <md-card ng-repeat="news in $ctrl.news">

        <div layout="row">
            <span flex="10">{{ news.timestamp | date:"MMM d, HH:mm" }}</span>
            <span flex="10">{{ news.currency }}</span>
            <span flex="30">{{ news.title }}</span>
            <span flex="10">{{ news.previous | number }}</span>
            <span flex="10">{{ news.forecast | number }}</span>
            <span flex="10">{{ news.actual | number }}</span>
            <span flex="10">{{ news.unit }}</span>
        </div>

    </md-card>

    <md-card ng-show="!$ctrl.news.length">
        No news.
    </md-card>

</md-content>
