<div class="h4 overflow-auto">
    <p ng-hide="$ctrl.news.length" class="f6 w-100 mw8 center b">No news.</p>

    <table ng-show="$ctrl.news.length" class="f6 w-100 mw8 center" cellpsacing="0">
        <thead>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Date/Time</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Market</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Event</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Previous</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Forecast</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Actual</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Unit</th>
        </thead>

        <tbody>
            <tr ng-repeat="news in $ctrl.news">
                <td class="pv1 pr1 bb b--black-20">{{ news.timestamp | date:"MMM d, HH:mm" }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.currency }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.title }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.previous | number }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.forecast | number }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.actual | number }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ news.unit }}</td>
            </tr>
        </tbody>
    </table>
</div>
