<div class="h4 overflow-auto">
    <p ng-hide="$ctrl.orders.length" class="f6 w-100 mw8 center b">No orders.</p>

    <table ng-show="$ctrl.orders.length" class="f6 w-100 mw8 center" cellpsacing="0">
        <thead>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Type</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Ticket</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Market</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Units</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">S/L</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">T/P</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">T/S</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Price</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Current</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Distance</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Expiry</th>
        </thead>

        <tbody>
            <tr ng-repeat="order in $ctrl.orders">
                <td class="pv1 pr1 bb b--black-20">{{ order.side }}</td>
                <td class="pv1 pr1 bb b--black-20">
                    <a href ng-click="$ctrl.closeOrder(order.id)">{{ order.id }}</a>
                </td>
                <td class="pv1 pr1 bb b--black-20">{{ order.instrument }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ order.units | number }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ order.stopLossOnFill.price || order.type }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ order.takeProfitOnFill.price }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ order.trailingStopLossOnFill.distance || order.trailingStopValue }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ order.price | number:4 }}</td>
                <td class="pv1 pr1 bb b--black-20"">{{ order.current | number:4 }}</td>
                <td class="pv1 pr1 bb b--black-20"">{{ order.distance | number:1 }}</td>
                <td class="pv1 pr1 bb b--black-20"">{{ order.expiry | date:"MMM d, HH:mm" }}</td>
            </tr>
        </tbody>
    </table>
</div>
