.highlight-red {
    background-color: red;
}

.highlight-green {
    background-color: green;
}

span {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    background-color: clear;
}
