<md-dialog-content>
    <md-subheader class="md-sticky-no-effect">Settings Dialog</md-subheader>

    <span ng-repeat="(instrument, value) in $ctrl.instruments">
        <md-switch ng-model="$ctrl.instruments[instrument]" aria-label="instrument">{{ instrument }}</md-switch>
    </span>
</md-dialog-content>

<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="$ctrl.cancel()">
        Cancel
    </md-button>
    <md-button ng-click="$ctrl.answer($ctrl.instruments)" class="md-primary">
        Ok
    </md-button>
</md-dialog-actions>
