<div class="h4 overflow-auto">
    <p ng-hide="$ctrl.positions.length" class="f6 w-100 mw8 center b">No positions.</p>

    <table ng-show="$ctrl.positions.length" class="f6 w-100 mw8 center" cellpsacing="0">
        <thead>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Type</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Market</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Units</th>
            <th class="fw6 bb b--black-20 tl pb1 pr1 bg-white">Avg. Price</th>
        </thead>

        <tbody>
            <tr ng-repeat="position in $ctrl.positions">
                <td class="pv1 pr1 bb b--black-20">{{ position.side }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ position.instrument }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ position.units | number }}</td>
                <td class="pv1 pr1 bb b--black-20">{{ position.avgPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>
