<main class="pa4 black-80 bg-white">
    <form class="measure center">
        <fieldset id="order" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 center">Order Dialog</legend>

            <div class="flex flex-row mb2">
                <div class="mb2 min-w-45">

                    <div class="mb2">
                        <label for="marketOrder" class="lh-copy">Market Order</label>
                        <input class="mr2" type="radio" name="marketOrder" ng-model="$ctrl.type" value="MARKET">
                    </div>

                    <div class="mb2">
                        <label for="limitOrder" class="lh-copy">Limit Order</label>
                        <input class="mr2" type="radio" name="marketOrder" ng-model="$ctrl.type" value="LIMIT">
                    </div>

                    <div class="mb2">
                        <label for="buy" class="lh-copy">Buy</label>
                        <input class="mr2" type="radio" name="buy" ng-model="$ctrl.side" value="buy">
                        <label for="sell" class="lh-copy">Sell</label>
                        <input class="mr2" type="radio" name="sell" ng-model="$ctrl.side" value="sell">
                    </div>

                    <div class="mb2">
                        <select ng-model="$ctrl.selectedInstrument" placeholder="Market"
                            ng-change="$ctrl.changeMarket($ctrl.selectedInstrument)"
                            ng-options="instrument for instrument in $ctrl.instruments">
                        </select>
                    </div>

                    <div class="mb2">
                        <label>Units</label>
                        <input ng-model="$ctrl.units" class="min-w-30">
                    </div>

                    <div class="mb2">
                        <label>Quote</label>
                        <input class="min-w-30"
                            type="number" ng-model="$ctrl.quote"
                            ng-disabled="$ctrl.type == 'MARKET'" step="{{ $ctrl.step }}">
                    </div>

                    <div class="mb2">
                        <select ng-show="$ctrl.type == 'LIMIT'"
                            ng-model="$ctrl.selectedExpire" placeholder="Expires"
                            ng-options="expire.label for expire in $ctrl.expires" ng-value="expire.value">
                        </select>
                    </div>
                </div>

                <div class="mb2 min-w-45">

                    <div class="mb2">
                        <label for="price" class="lh-copy">Price</label>
                        <input class="mr2" type="radio" name="price"
                            ng-model="$ctrl.measure" value="price" ng-change="$ctrl.changeMeasure($ctrl.measure)">
                        <label for="pips" class="lh-copy">PIPS</label>
                        <input class="mr2" type="radio" name="pips"
                            ng-model="$ctrl.measure" value="pips" ng-change="$ctrl.changeMeasure($ctrl.measure)">
                    </div>

                    <div class="mb2">
                        <label for="lowerBound" class="lh-copy">Lower Bound</label>
                        <input type="checkbox" ng-model="$ctrl.isLowerBound">
                        <input name="lowerBound" type="number" ng-model="$ctrl.lowerBound" min="0" ng-disabled="!$ctrl.isLowerBound"
                            step="{{ $ctrl.step }}" class="min-w-30">
                    </div>

                    <div class="mb2">
                        <label for="upperBound" class="lh-copy">Upper Bound</label>
                        <input type="checkbox" ng-model="$ctrl.isUpperBound">
                        <input name="upperBound" type="number" ng-model="$ctrl.upperBound" min="0" ng-disabled="!$ctrl.isUpperBound"
                            step="{{ $ctrl.step }}" class="min-w-30">
                    </div>

                    <div class="mb2">
                        <label for="takeProfit" class="lh-copy">Take Profit</label>
                        <input type="checkbox" ng-model="$ctrl.isTakeProfit">
                        <input name="takeProfit" type="number" ng-model="$ctrl.takeProfit" min="0" ng-disabled="!$ctrl.isTakeProfit"
                            step="{{ $ctrl.step }}" class="min-w-30">
                    </div>

                    <div class="mb2">
                        <label for="stopLoss" class="lh-copy">Stop Loss</label>
                        <input type="checkbox" ng-model="$ctrl.isStopLoss">
                        <input name="stopLoss" type="number" ng-model="$ctrl.stopLoss" min="0" ng-disabled="!$ctrl.isStopLoss"
                            step="{{ $ctrl.step }}" class="min-w-30">
                    </div>

                    <div class="mb2">
                    <label for="trailingStop" class="lh-copy">Trailing Stop</label>
                    <input type="checkbox" ng-model="$ctrl.isTrailingStop">
                    <input name="trailingStop" type="number" ng-model="$ctrl.trailingStop" min="0" ng-disabled="!$ctrl.isTrailingStop"
                        step="1" class="min-w-30">
                    </div>

                </div>

            </div>

        </fieldset>

        <div class="flex flex-row items-center justify-around">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Submit" ng-click="$ctrl.answer('submit')">

            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Close" ng-click="$ctrl.answer('close')">
        </div>

    </form>
</main>
