<main class="pa4 black-80 bg-white">
    <form class="measure center">
        <fieldset id="order" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 center">Order Dialog</legend>

            <div class="flex flex-row justify-between h5">

                <div class="flex flex-column items-start justify-between ma2">

                    <div>
                        <input type="radio" name="marketOrder" ng-model="$ctrl.type" value="MARKET">
                        <label for="marketOrder" class="lh-copy">Market</label>
                        <input type="radio" name="marketOrder" ng-model="$ctrl.type" value="LIMIT">
                        <label for="limitOrder" class="lh-copy">Limit</label>
                    </div>

                    <div>
                        <input type="radio" name="buy" ng-model="$ctrl.side" value="buy">
                        <label for="buy" class="lh-copy">Buy</label>
                        <input type="radio" name="sell" ng-model="$ctrl.side" value="sell">
                        <label for="sell" class="lh-copy">Sell</label>
                    </div>

                    <div>
                        <select ng-model="$ctrl.selectedInstrument"
                            ng-change="$ctrl.changeMarket($ctrl.selectedInstrument)"
                            ng-options="instrument for instrument in $ctrl.instruments">
                        </select>
                    </div>

                    <input class="mw4" type="number" placeholder="Units"
                        ng-model="$ctrl.units">

                    <input class="mw4" type="number" placeholder="Quote"
                        ng-model="$ctrl.quote"
                        ng-disabled="$ctrl.type == 'MARKET'" step="{{ $ctrl.step }}">

                    <div ng-show="$ctrl.type == 'LIMIT'">
                        <label>Expire</label>
                        <select ng-model="$ctrl.selectedExpire"
                            ng-options="expire.value as expire.label for expire in $ctrl.expires">
                        </select>
                    </div>

                </div>

                <div class="flex flex-column items-end justify-between ma2">

                    <div>
                        <input type="radio" name="price" ng-model="$ctrl.measure" value="price"
                            ng-change="$ctrl.changeMeasure($ctrl.measure)">
                        <label for="price" class="lh-copy">Price</label>
                        <input type="radio" name="pips" ng-model="$ctrl.measure" value="pips"
                            ng-change="$ctrl.changeMeasure($ctrl.measure)">
                        <label for="pips" class="lh-copy">PIPS</label>
                    </div>

                    <div>
                        <input type="checkbox" ng-model="$ctrl.isLowerBound">
                        <input class="mw4" placeholder="Lower Bound"
                            name="lowerBound" type="number" ng-model="$ctrl.lowerBound"
                            min="0" ng-disabled="!$ctrl.isLowerBound"
                            step="{{ $ctrl.step }}">
                    </div>

                    <div>
                        <input type="checkbox" ng-model="$ctrl.isUpperBound">
                        <input class="mw4" placeholder="Upper Bound"
                            name="upperBound" type="number" ng-model="$ctrl.upperBound"
                            min="0" ng-disabled="!$ctrl.isUpperBound"
                            step="{{ $ctrl.step }}">
                    </div>

                    <div>
                        <input type="checkbox" ng-model="$ctrl.isTakeProfit">
                        <input class="mw4" placeholder="Take Profit"
                            name="takeProfit" type="number" ng-model="$ctrl.takeProfit"
                            min="0" ng-disabled="!$ctrl.isTakeProfit"
                            step="{{ $ctrl.step }}">
                    </div>

                    <div>
                        <input type="checkbox" ng-model="$ctrl.isStopLoss">
                        <input class="mw4" placeholder="Stop Loss"
                            name="stopLoss" type="number" ng-model="$ctrl.stopLoss"
                            min="0" ng-disabled="!$ctrl.isStopLoss"
                            step="{{ $ctrl.step }}">
                    </div>

                    <div>
                        <input type="checkbox" ng-model="$ctrl.isTrailingStop">
                        <input class="mw4" placeholder="Trailing Stop"
                            name="trailingStop" type="number" ng-model="$ctrl.trailingStop"
                            min="0" ng-disabled="!$ctrl.isTrailingStop"
                            step="1">
                    </div>

                </div>

            </div>

        </fieldset>

        <div class="flex flex-row items-center justify-around">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Submit" ng-click="$ctrl.answer('submit')">

            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                type="submit" value="Close" ng-click="$ctrl.answer('close')">
        </div>

    </form>
</main>
